# Environment varibles

NODE_ENV=development
PORT=5000
SERVER_HOSTNAME=http://localhost:
SWAGGER_HOSTNAME=localhost:
MONGO_URI=mongodb://127.0.0.1:27017
JWT_SECRET=secretKey
JWT_TIMEOUT=12h


# Credentials for nodemailer (optional)
MAILER_DOMAIN = 
MAILER_PORT = 
MAILER_USER_NAME = 
MAILER_USER_PASSWORD = 